body{
   background-image: url(estr.jpg);

}
#titulos{
   color: rgb(121, 90, 79);
   border: 4px chocolate ;
   text-shadow: 3px 5px rgb(171, 131, 103);
}
#introducion{
   color: rgb(141, 98, 83);
   text-decoration: underline;
}
#imagen1{
   height: 70px;
   width: 80px;
}
#desarollo{
   color: rgb(141, 98, 83);
   text-decoration: underline;
}
#conclucion{
   color: rgb(141, 98, 83);
   text-decoration: underline;
}
#imagen2{
   height: 90px;
   width: 70px;
}



